*{
  box-sizing: border-box;

}

body{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;

}

nav{
  overflow: hidden;
  background: #2f3a4a;
  line-height: 40px;
}

nav a{
  float: left;
  display: block;
  width: 120px;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover{
  background: #ddd;
  color:black;
}

#active{
  background: #2196f3;
  color: #fff;

}

#options{
  float: right;
  margin-right: 100px ;
  margin-top: 10px;
}

#search {
  padding: 6px 1px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px;

}

#ingresar{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #2196f3;
  color: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

#registrarse{
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 17px;
  background: #2196f3;
  color: #fff;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-left: 17px;
}

nav img{
  float: left;
}